<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="true" md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content layout-padding>
        <md-list-item class="md-1-line" ng-click="redirect('ads')"> Αγγελίες </md-list-item>
        <md-list-item class="md-1-line" ng-click="redirect('users')"> Χρήστες </md-list-item>
        <md-list-item class="md-1-line" ng-click="logout()"> Logout </md-list-item>
    </md-content>
</md-sidenav>